In [1]:
%config Completer.use_jedi = False

In [2]:
import pandas as pd
import numpy as np

# import mdfreader

In [2]:
# df = pd.read_csv("./c4_game_database.csv", nrows=1000)
# df.head()

,pos_01,pos_02,pos_03,pos_04,pos_05,pos_06,pos_07,pos_08,pos_09,pos_10,...,pos_34,pos_35,pos_36,pos_37,pos_38,pos_39,pos_40,pos_41,pos_42,winner
0,1.0,1.0,1.0,-1.0,-1.0,1.0,0.0,-1.0,-1.0,-1.0,...,1.0,1.0,-1.0,1.0,-1.0,1.0,-1.0,1.0,-1.0,-1.0
1,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,...,-1.0,1.0,1.0,-1.0,-1.0,-1.0,1.0,1.0,-1.0,1.0
2,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,-1.0,0.0,...,0.0,-1.0,1.0,-1.0,-1.0,1.0,-1.0,-1.0,-1.0,-1.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,1.0,-1.0,1.0,-1.0,0.0,1.0,-1.0
4,0.0,-1.0,-1.0,-1.0,1.0,0.0,0.0,1.0,1.0,1.0,...,0.0,1.0,-1.0,-1.0,1.0,-1.0,1.0,0.0,-1.0,1.0

In [8]:
# df.isna().count()
# df.to_csv("./Dataset/connect4_1000.csv", index=False)

In [3]:
df = pd.read_csv("./Dataset/connect4_1000.csv", index_col=None)

In [6]:
print(df.shape)
df.head()

(1000, 43)

,pos_01,pos_02,pos_03,pos_04,pos_05,pos_06,pos_07,pos_08,pos_09,pos_10,...,pos_34,pos_35,pos_36,pos_37,pos_38,pos_39,pos_40,pos_41,pos_42,winner
0,1.0,1.0,1.0,-1.0,-1.0,1.0,0.0,-1.0,-1.0,-1.0,...,1.0,1.0,-1.0,1.0,-1.0,1.0,-1.0,1.0,-1.0,-1.0
1,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,...,-1.0,1.0,1.0,-1.0,-1.0,-1.0,1.0,1.0,-1.0,1.0
2,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,-1.0,0.0,...,0.0,-1.0,1.0,-1.0,-1.0,1.0,-1.0,-1.0,-1.0,-1.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,1.0,-1.0,1.0,-1.0,0.0,1.0,-1.0
4,0.0,-1.0,-1.0,-1.0,1.0,0.0,0.0,1.0,1.0,1.0,...,0.0,1.0,-1.0,-1.0,1.0,-1.0,1.0,0.0,-1.0,1.0

In [ ]:
# 
# p: we measure the “power” of the attacker by the

"""
    A database D has "(h,k,p)-coherence" if, for every such combination β of no more than p
    public items, either no transaction contains β, or the set of
    transactions containing β, called β-cohort, contains at least k
    transactions and no more than h percent of these transactions
    contains a common private item.

    U: universe, public + private items
    
    D: database
    
    p: maximum number p of public items that can be obtained as prior
        knowledge in a single attack, and measure the level of protection
        relative to that power of attackers
        
    beta: combination of puclic items no more than "p"
    
    beta_cohort: set of transactions containing "beta"
    
    k,h: "beta_cohort" contains at least "k" transactions and no more than "h" percent of these transactions
    contains a common private item.
 
    In other words, (h,k,p)-coherence ensures that, for an attacker with the power p, the
    probability of linking an individual to a transaction is limited to
    1/k and the probability of linking an individual to a private item is
    limited to h.
    
    

"""

In [ ]:
"""
    -randomly choose the private items on a given database like in CAHD
"""